//
// Theme Configuration
// ----------------------------------------------------------------------------------------------------


// Theme variables
@javelin-sitename:								"{{SITE}}";


// Colors
@brand-primary:									#08c;


// Metrics
@section-spacer:								60px;


// ----------------------------------------------------------------------------------------------------


// Framework Flags
@component-animations:							true;


// Common Base Properties
@border-color-base:								#ccc;


// Stage
@html-bg:										#000;
@body-bg:										#fff;


// Links
@link-color:									@brand-primary;


// Type
@text-color-base:								#555;
@font-size-base:								16px;
@line-height-base:								1.75;
@font-family-base:								@font-family-sansserif;


// Headings
@headings-color:								@brand-primary;
@headings-line-height:							1.125;
@headings-font-family:							@font-family-sansserif;

@h1-size:										30px;
@h2-size:										24px;
@h3-size:										20px;


// Forms
@input-border-color-focused:					@brand-primary;


// ----------------------------------------------------------------------------------------------------


// Buttons
@btn-height-base:								40px;
@btn-padding-horz:								20px;
@btn-border-width:								0;

@btn-font-size:									16px;
@btn-line-height:								1.5;
@btn-font-family:								@font-family-sansserif;

@btn-default-bg:								@brand-primary;
@btn-default-bg-hover:							darken(@brand-primary, 15%);
@btn-default-color:								#fff;
@btn-default-color-hover:						#fff;


// Icons
@icon-sprite-path:								"@{images-path}icons.svg";
@icon-width-base:								30px;
@icon-height-base:								30px;


// Navigation - Navbar
@navbar-height:									40px;

@navbar-font-size:								18px;
@navbar-font-family:							@font-family-sansserif;
@navbar-link-color:								#fff;
@navbar-link-hover-color:						fade(@navbar-link-color, 50%);

@navbar-dropdown-offset:						-(@navbar-dropdown-item-padding-horz - @navbar-item-offset-horz);
@navbar-dropdown-bg:							@brand-primary;
@navbar-dropdown-item-padding-vert:				6px;
@navbar-dropdown-item-padding-horz:				20px;
@navbar-dropdown-font-size:						(@navbar-font-size - 2);


// Page Title
@page-title-offset-vert:						0;